@import 'vars'

.about-content
	padding 0.9em
	font-size 1em
	
.head-shot img
	width 250px
	height 300px
	object-fit contain

#about .container
	display flex
	flex-direction column
	align-items center


@media (min-width: breakpoint-tablet)

	.about-content
		font-size 0.8em
		
	#about .container
		display flex
		flex-direction row
		padding 2em


@media (min-width: breakpoint-desktop)

	.about
		display flex
		flex-direction row

	.about-content
		font-size 1em
		padding 0 0 0.5em 3em
			
	.about-content p
		margin 2.5em 0
			
	#about .container
		padding 2em 2em

	.head-shot img
		width 300px
		height 350px
	
	.container:before, .container:after
		content initial
			
@media (min-width: breakpoint-xl)
	
	.about-content
		font-size 1.2em
		
	.head-shot img
		width 350px
		height 400px