@import 'vars'

#footer 
	color header-font-color
	// background rgba(235, 235, 235, 0.7)
	display flex
	flex-direction column
	align-items center
	justify-content center

#footer p
	margin 0
	padding 0 0 1em 0
	font-size 0.5em
	text-align center

.fa-linkedin
	background-color #0085AE
	
.fa-github
	background-color #070709

.social
	display flex
	flex-direction row
	justify-content center
	
.social-icons .fa 
	margin 2em .125em .5em .125em
	width 30px
	height 30px
	line-height 30px
	text-align center
	color rgba(255, 255, 255, 0.8)
	-webkit-transition all 0.3s ease-in-out
	-moz-transition all 0.3s ease-in-out
	-ms-transition all 0.3s ease-in-out
	-o-transition all 0.3s ease-in-out
	transition all 0.3s ease-in-out

.social-icons .fa:hover
	color white

.social-icons.icon-circle .fa
	border-radius 50%




@media (min-width: breakpoint-tablet)

	.social i
		// margin 1.75em 0
		// padding .25em .25em
		color white


@media (min-width: breakpoint-desktop)

	.social i
		// margin 2.75em 0
		// padding .25em .25em
		color white


@media (min-width: breakpoint-xl)

	.social i
		// margin 2.75em 0
		// padding .25em .25em
		color white