@import 'vars'

#footer 
	color header-font-color
	background rgba(235, 235, 235, 0.5)
	display flex
	flex-direction column
	align-items center
	justify-content center

#footer p
	margin 0
	padding 0 0 1em 0
	font-size 0.5em
	text-align center

.fa-linkedin-square
	color fade-black
	
.fa-git-square
	color fade-black

.social
	display flex
	flex-direction row
	justify-content center
	
.social-icons .fa 
	margin 2em .125em .5em .125em
	width 30px
	height 30px
	line-height 30px
	text-align center
	-webkit-transition all 0.3s ease-in-out
	-moz-transition all 0.3s ease-in-out
	-ms-transition all 0.3s ease-in-out
	-o-transition all 0.3s ease-in-out
	transition all 0.3s ease-in-out

.social-icons .fa:hover
	color header-font-color