@import 'vars'

#header
	background-image url('../img/light.jpg')
	background-repeat no-repeat
	background-attachment fixed
	background-position center center
	background-size cover
	text-align center
	color white
	
.header-content
	background-color rgba(0, 0, 0, 0.7)
	padding 15em 0
	font-size 1em
	
@media (min-width: breakpoint-tablet)
	
	.header-content
		background-color rgba(0, 0, 0, 0.7)
		padding 11em 0
		font-size 1.2em

@media (min-width: breakpoint-desktop)

	.header-content
		background-color rgba(0, 0, 0, 0.7)
		padding 12em 0
		font-size 1.5em

@media (min-width: breakpoint-xl)
	
	.header-content
		background-color rgba(0, 0, 0, 0.7)
		padding 20em 0
		font-size 2em
