@import 'vars'

#header
	background-color fade-black
	background-size cover
	text-align center
	color white
	position relative
	z-index -2
	
.header-content
	background-color rgba(255, 255, 255, 0.1)
	padding 15em 0 30em 0

.header-2
	font-size 2em
	position fixed
	left 0
	right 0
	z-index -1
	
	
@media (min-width: breakpoint-tablet) and (orientation:portrait)
	
	.header-content
		background-color rgba(255, 255, 255, 0.1)
		padding 33em 0 37em 0
	
	#header
		text-align center
		color white
		position relative
		z-index -2
	
	.header-2
		font-size 2em
		
@media (min-width: breakpoint-tablet) and (orientation:landscape)
	.header-content
		background-color rgba(255, 255, 255, 0.1)
		padding 25em 0 30em 0

@media (min-width: breakpoint-desktop)

	.header-content
		background-color rgba(255, 255, 255, 0.1)
		padding 24em 0 30em 0

	.header-2
		font-size 2.75em
	
	#header
		background-position top center
		

@media (min-width: breakpoint-xl)
	
	.header-content
		background-color rgba(255, 255, 255, 0.1)
		padding 25em 0
	
	.header-2
		font-size 5em
