@import 'vars'

a.navbar-brand
	font-size 1.2em

ul.navbar-nav
	font-size 1em

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
	background transparent !important

#mainNav
	padding 0em 3em
	background white

#mainNav .navbar-header.page-scroll
	display flex
	flex-direction row
	align-items center
	justify-content space-between

.navbar-header:before, .navbar-header:after
	content initial
	
.button
	order 2
	
.navbar
	transition background .5s ease-in-out,padding .5s ease-in-out, color .5s ease-in-out
	border 0
	text-align right

.navbar-default .navbar-toggle
	padding 0
	margin 0
	color rgba(0, 0, 0, 0.4)
	border 0
	
.navbar-default .navbar-brand
	padding 0
	line-height 50px
	vertical-align middle

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
	background transparent
	color primary-color !important

.navbar-default .navbar-header .navbar-brand
	color fade-black

.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus 
	color fade-black

@media (min-width: breakpoint-tablet)

	.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus 
		color fade-white

	.navbar-default .navbar-header .navbar-brand
		color fade-white

	a.navbar-brand
		font-size 1.3em
		
	ul.navbar-nav
		font-size 1.1em

	#mainNav
		display flex
		flex-direction row
		justify-content space-between
		padding 1em 3em
		background transparent
		
	#mainNav.affix
		background-color white
	
	#mainNav:before, #mainNav:after
		content initial

	.navbar-default.affix
		border-bottom 1px solid rgba(0, 0, 0, 0.1)
		transition .5s
		
		
	.navbar-default 
		background-color transparent
		border-color rgba(0, 0, 0, 0.1)

	.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover 
		color primary-color

	.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus 
		color primary-color
		
	.navbar-default.affix .navbar-header .navbar-brand 
		color header-font-color
		transition .5s
		
  
	.navbar-default.affix .navbar-header .navbar-brand:hover, .navbar-default.affix .navbar-header .navbar-brand:focus 
		color primary-color
		transition .5s
  
	.navbar-default.affix .nav > li > a, .navbar-default.affix .nav > li > a:focus 
		color header-font-color
		transition .5s
  
	.navbar-default.affix .nav > li > a:hover, .navbar-default.affix .nav > li > a:focus:hover 
		color primary-color
		transition .5s
  
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
		background transparent
		color primary-color !important
		transition .5s
		
@media (min-width: breakpoint-desktop)

	a.navbar-brand
		font-size 1.5em
		
	ul.navbar-nav
		font-size 1.2em

@media (min-width: breakpoint-xl)
	
	a.navbar-brand
		font-size 1.7em
	
	ul.navbar-nav
		font-size 1.5em







