@import 'portfolio'
@import 'vars'

* 
	box-sizing border-box
	
body
	margin 0
	font-family 'Montserrat', sans-serif
	line-height 1.5
	-webkit-font-smoothing antialiased

.container
	margin 0 auto
	max-width 63em
	
	
