@import 'portfolio'
@import 'about'
@import 'footer'
@import 'header'
@import 'nav'
@import 'vars'

* 
	box-sizing border-box
	
body
	margin 0
	font-family 'Montserrat', sans-serif
	line-height 1.5
	-webkit-font-smoothing antialiased

section
	padding-top 1em

#nav, #header
	padding-top 0em

.container
	margin 0 auto
	max-width 90em
	
h1
	text-align center
	padding 1em 0
	font-size 1.5em
	color header-font-color
	margin 0

// .break
// 	background-image url('../img/light.jpg')
// 	background-repeat no-repeat
// 	background-attachment fixed
// 	background-position center center
// 	background-size cover
// 	height 200px
	
@media (min-width: breakpoint-tablet)

	h1
		padding 2em 0
		font-size 2em

@media (min-width: breakpoint-desktop)
	
	h1
		padding 2em 0

@media (min-width: breakpoint-xl)
	
	h1
		padding 2em 0
