breakpoint-xl = 90em
breakpoint-desktop = 64em
breakpoint-tablet = 48em
breakpoint-xl-mobile = 26em

primary-color = rgba(30, 144, 255, 0.9)
header-font-color = rgb(85, 85, 85)
fade-white = rgba(255, 255, 255, 0.8)
fade-black = rgba(0, 0, 0, 0.8)